main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
} 
section{
    width: 80%;
    color: beige;
    display:flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    margin: 1em;
    padding: 0.8em;
    border-radius: 0.2em;
    background-color: green;
}