<header>
    <div class="header-geral">
        <h2>Meu Diário</h2>
        <h2>SENAC</h2>
    </div>
    <div class="header-geral">
        <p>Registre seus pensamentos</p>
        <p>e anotações</p>
    </div>
    <div id="header-avatar">
        <button id="avatar-clicavel"></button>
        <div id="avatar-nome">
            <h3>Nome do Usuário</h3>
            <a href="javascript:void(0)">Editar Perfil</a>
        </div>
    </div>
</header>
<main> 
    <h2>Registros</h2>
    <section>
        <div id="registro">
            <h3>Título do Registro</h3>
            <p>Conteúdo do Registro...</p>
            <p>Data do Registro</p>
        </div>
    </section>
    <button id="adicionar-registro">
        <span>+</span>
    </button>
</main>