header {
    background-color: green;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: beige;
}
.header-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-avatar{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 14em;
    
    a {
        text-decoration: none;
        color: beige;
    }
    button{
        height: 5em;
        width: 5em;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 1em;
    color: rgb(70, 70, 70);
}
#adicionar-registro{
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    span{
        font-size:2em;
    }
}